@import "@/app/scss/global/color";

$page-padding: 15px;
$width: 885px;
$page-radius: 20px;
$page-gap: 25px;

$header-gap: 35px;

$data-gap: 5px;

$header-padding: 0 0 15px 10px;

$photo-gap: 15px;
$photo-size: 275px;
$photo-border-radius: 10px;

$border: 1px solid $chat-border-color;

.page {

  display: flex;
  flex-flow: column;
  gap: $page-gap;

  padding: $page-padding;
  border-radius: $page-radius;

  width: $width;

  background-color: $white-color;


  .header {
    display: flex;
    gap: $header-gap;

    padding: $header-padding;

    align-items: center;

    border-bottom: $border;

    .userData {
      display: flex;
      flex-flow: column;
      gap: $data-gap;
    }
  }

  .photo {
    display: flex;
    flex-wrap: wrap;

    gap: $photo-gap;
  }
}

.one_photo {
  width: $photo-size;
  height: $photo-size;

  img {
    width: 100%;
    height: 100%;

    border-radius: $photo-border-radius;
    object-fit: cover;
  }
}