$bgc: #F6F6F6;
$dark-purple-color: #855BD9;
$cancel_color: #D2C1F4;
$cancel_text_color: #543199;
$white-color: #FFFFFF;
$black-color: black;
$transparent-color: transparent;
$hr-color: #B3BDC7;
$avatar-border-color: #a6a9af;
$not_important_data_color: #5F6E78;
$chat-border-color: #DDE3EB;
$user-hover-color: #E7EAEE