@import '@/app/scss/global/color';
@import '@/app/scss/global/main_values';


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  cursor: default;

  font-family: $font-family;
}

html,
body {
  max-width: 100vw;
  height: 100vh;
  overflow-x: hidden;

  background-color: $bgc;
}

button {
  cursor: pointer;

  height: $button-height;

  border-radius: 10px;
  border: none;

  font-weight: $button-font-weight;
  font-size: $font-size-input-button;

  padding: $button-padding;

  text-align: center;

  img, div {
    cursor: pointer;
  }
}

.main_root {
  height: 100vh;
}

.button_main_color {
  background-color: $dark-purple-color;
  color: $white-color;
}

.button_not_main_color {
  background-color: $transparent-color;
  border: 2px solid $dark-purple-color;
  color: $dark-purple-color;
}

.button_cancel {
  background-color: $cancel_color;
  border: none;
  color: $cancel_text_color;
}

.button_3rd_plane {
  background-color: $transparent-color;
  border: none;
  color: $black-color;
  font-weight: $button-3rd-plane-weight;
}

input {
  cursor: text;
  height: $input-height;

  border-radius: 10px;
  border: $input-border;

  /*font-family: "Montserrat", -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',*/
  /*'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',*/
  /*sans-serif;*/

  padding: $input-padding;

  font-size: $font-size-input-button;
}

input:focus {
  outline: none;
}

p {
  margin: 0;
}

li {
  list-style-type: none;
}

ol {
  padding: 0;
  margin: 0;
}

.name {
  font-size: $name-font-size;
  font-weight: $name-font-weight;
}

.nickname {
  font-size: $nickname-font-size;
  color: $not_important_data_color;
}

.scrollBar::-webkit-scrollbar {
  width: 0;
}

.scrollBar::-webkit-scrollbar-track {
  background: #f1f1f1;
}

.scrollBar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 2px;
}

