@import "color";

$auth-block-border-radius: 20px;

$font-size-input-button: 1em;
$input-border: 1px solid $hr-color;
$input-height: 43px;
$input-padding: 0 10px;

$button-padding: 12px 25px 12px 25px;
$button-font-weight: 600;
$button-3rd-plane-weight: 400;
$button-height: 45px;

$avatar-border: 2px solid $avatar-border-color;

$z-index-low: 1;
$z-index-up: 3;

$name-font-size: 1.5em;
$name-font-size_small: 1em;
$name-font-weight: 700;
$name-font-weight-small: 600;

$nickname-font-size: 0.9em;

$chat-border: 1px solid $chat-border-color;

$font-family: "Inter", sans-serif;